# torch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu118
fsspec
pyworld
matplotlib==3.9.0
soundfile
scikit-learn
scipy
tensorboard
transformers
tqdm
librosa
omegaconf
gradio
ruamel.yaml
resampy
numpy==1.24
chardet
faiss-cpu==1.7.4
